<div class="uk-child-width-expand@s" uk-grid>

  <form><fieldset class="uk-fieldset">
      <div class="uk-margin">
          <textarea id="g-code" class="uk-textarea uk-box-shadow-small" rows="15" placeholder="G-code"></textarea>
      </div>
      <div class="uk-margin">
      
      <button id="send_gcode" class="uk-button uk-button-default uk-button-small" type="button">Run</button>
      <!--
      <button class="uk-button uk-button-default uk-button-small" type="button">Run <span uk-icon="icon:  triangle-down"></span></button>
        <div uk-dropdown="pos: bottom-justify">
            <ul class="uk-nav uk-dropdown-nav">
              <li><a id="send_gcode" href="#">Draw ToolPath</a></li>
              <li class="uk-nav-divider"></li>
              <li><a id="get_points" href="#modal-center-points" uk-toggle>Cutter Location Points</a></li>
              <li><a id="get_parsing_result" href="#modal-center-parsing" uk-toggle>Parsing Result</a></li>
            </ul>
      </div>
      -->
      </div>
  </fieldset></form>
</div>