<div class="uk-child-width-expand@s" uk-grid>
  
  <ul class="uk-list uk-link-text">
    <li><a id="load_example_01" href="#">Finish 2D contour milling</a></li>
    <li><a id="load_example_02" href="#">3D Printing</a></li>
    <li><a id="load_example_03" href="#">3D surface milling</a></li>
  </ul>
  
  <!--
  <form><fieldset class="uk-fieldset">
      <div class="uk-margin">
          <button id="load_example" type="button" class="uk-button uk-button-default uk-button-small">Load Example</button>
      </div>
  </fieldset></form>
  -->
</div>
